.head{
    background-image: url(pets1.jpg);
    background-size: cover;
    background-position: center;
}
.headerContainer{
    width: 100%;
    height: 80px;
    height: 110px;
    display: inline-flex;
    background-color:rgb(153, 129, 152);
    border-radius: 10px;
}
.i{
    height: 110px;
    width: 130px;
    align-items: flex-start;
    justify-content: flex-start;
    display: inline-flex;
    
}
.tab h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    color: rgb(232, 232, 217);
    margin-left: 20px;
}
.tab{
   width: 100%;
   height: 100%;
   display: inline-flex;
   justify-content: space-between;
   align-items: center;  
}
.tab ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.tab ul li{
    font-family: Arial, Helvetica, sans-serif;
    color: ivory;
    list-style: none;
    margin-right: 50px;
    font-weight: bold;
    cursor: pointer;
}
.tab ul li:first-child{
    color: blue;
}
.tab ul li:hover{
    color: blue;
}
.tab .btn{
    margin-right: 20px;
    width: 200px;
    height: 55px;
    border-radius: 12px;
    font-size: 20px;
    border: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: ivory;
    color: blue;
}
.tab .btn:hover{
    background-color: blue;
    color: ivory;
}
.content{
    width: 100%;
    height: 100vh;
    background-color: none;
    margin: auto;
}
.content h1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 50px;
    color: ivory;
}
.content h3{ 
    margin-top: 5%;
    font-family: Arial, Helvetica, sans-serif;
    font-style:unset;
    font-size: 18px;
    color:rgb(94, 11, 132);
    margin-left: 1%;
}
.content .btn{
    margin-left: 1%;
    margin-right: 20px;
    width: 200px;
    height: 55px;
    border-radius: 10px;
    font-size: 20px;
    border: 5px solid ivory;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border-color: ivory;
    border-radius: 10px;
    margin-top: 50px;
}
.content .btn:hover{
    background-color: ivory;
    color: blue;
}
.fundi{
    display: flex;
    justify-content: flex-start;
    font-style: bold;
    font-style: italic;
    background-color:rgb(153, 129, 152);
    width: 100%;
    border-radius: 10px;
}

