.head{
    background-image: url(pets1.jpg);
    background-size: cover;
    background-position: center;
    
}
.headerContainer{
    width: 100%;
    height: 80px;
    height: 110px;
    display: inline-flex;
    background-color:rgb(153, 129, 152);
    border-radius: 10px;
}
.i{
    height: 110px;
    width: 130px;
    align-items: flex-start;
    justify-content: flex-start;
    display: inline-flex;
    
}
.tab h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    color: rgb(232, 232, 217);
    margin-left: 25px;
}
.tab{
   width: 100%;
   height: 100%;
   display: inline-flex;
   justify-content: space-between;
   align-items: center;  
}
.tab ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.tab ul li{
    font-family: Arial, Helvetica, sans-serif;
    color: ivory;
    list-style: none;
    margin-right: 50px;
    font-weight: bold;
    cursor: pointer;
}
/* .tab ul li:first-child{
    color: blue;
} */
.tab ul li:hover{
    color: blue;
}
.tab .btn{
    margin-right: 20px;
    width: 200px;
    height: 55px;
    border-radius: 12px;
    font-size: 20px;
    border: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: ivory;
    color: blue;
}
.tab .btn:hover{
    background-color: blue;
    color: ivory;
}
.content{
    width: 100%;
    height: 100vh;
    background-color: none;
    margin: auto;
}
.content h1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 50px;
    color: ivory;
}
.content h3{ 
    margin-top: 5%;
    font-family: Arial, Helvetica, sans-serif;
    font-style:unset;
    font-size: 18px;
    color:rgb(94, 11, 132);
    margin-left: 1%;
}
.content .btn{
    margin-left: 1%;
    margin-right: 20px;
    width: 200px;
    height: 55px;
    border-radius: 10px;
    font-size: 20px;
    border: 5px solid ivory;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border-color: ivory;
    border-radius: 10px;
    margin-top: 50px;
}
.content .btn:hover{
    background-color: ivory;
    color: blue;
}
.fundi{
    display: flex;
    justify-content: flex-start;
    font-style: bold;
    font-style: italic;
    background-color:rgb(153, 129, 152);
    width: 100%;
    border-radius: 10px;
}
/* Services */
.about {
    text-align: left;
    display: inline-block;
    padding: 30px;
    padding: 10px;
    border: 2px solid #c574bc;
    display: flex;
    justify-content: space-between;
    width: 85%;
    width: 98.7%;
    margin-bottom: 2%;
    border-radius: 8px;
    margin-top: 2%;
    background-color: #f0daed;
}   

.about h4 p{
    display: flex;
    justify-content: space-between;
  } 
.pet1 {
    text-align: left;
    display: inline-block;
    justify-content: space-between;
    display: flex;
    margin: 30px; 
}
.pet2 {
    text-align: left;
    display: inline-block;
    justify-content: space-between;
    display: flex; 
    margin: 30px;
}
.pet3 {
    text-align: left;
    display: inline-block;
    justify-content: space-between;
    display: flex; 
    margin: 30px;
}
.photos{
    display: flex;
    justify-content: space-evenly;
   /* width: 90%;*/
    flex-wrap: wrap;
    margin: 30px;
    border-radius: 30%;
}
/* Pets */
.swiperWrapper{
    padding-inline: 5%;
    box-sizing: border-box;
    position: relative;
    padding-top: 50px;
    justify-content: center;
}
.slideImage{
    margin-bottom: 30%;
    width: 100%; 
    height: 400px;
    object-fit: cover;
}
.prev{
    position: absolute;
    left: 3%;
    top: 40%;
    transform: translateX(-50%);
}
.next{
    position: absolute;
    right: 1%;
    top: 40%;
    transform: translateX(-50%);
}

.prev hoover{
    background-color: blue;
    color: ivory;
}
.prev img{
    width: 32px;
    color: ivory;
}
.next img{
    width: 32px;
}

.login-container {
     background-color: #f4c1ee;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
    text-align: center;
    
}

.login-container h2 {
    margin: 20px 0;
    color: #333;
}

.login-form {
    padding: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #555;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-group button {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

.form-group button:hover {
    background-color: #2980b9;
}
.myForm {
    background-color: transparent;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 50px 60px rgba(0, 0, 0, 8);
    border: 2% ;

}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input {
    width: 70%;
    margin-top: 1%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.error-message {
    color: #ff6347;
    margin-bottom: 16px;
}

button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}
.lg{
    background-size: cover;
    background-position: center;
}
.valid{
    border-radius: 30px;
    margin-left: 2%;
    margin-right: 80%;
    margin-top: 5%;
    margin-bottom: 5%;
}